.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20%;
  margin-bottom: 1rem;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;

}

.newProfile {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aqua;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}